<html>

<head>
    <title>BeLayzee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
</head>

<body>

  <div class = "hidden-sm hidden-xs hidden-md" style="position: fixed; width: 100%; height: 100%">
    <iframe frameborder="0" height="100%" width="100%"
        src="//youtube.com/embed/DSLgAsrcpGQ?autoplay=1&controls=0&showinfo=0&autohide=1&loop=1&playlist=DSLgAsrcpGQ&hd=1&end=152">
    </iframe>
  </div>

  <style>
  @media (min-width: 1200px) {
    h1{color:white}
    h3{color:white}
    h4{color:white}
    p{color:white}
    li{color :white}
}

/* Anything Smaller than Large  */
@media (max-width: 1199px) {
  h1{color:black}
  h3{color:black}
  h4{color:black}
  p{color:black}
  li{color :black}
}


  </style>

    <div class="cover">
        <div class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right" style="color: white">
                        <li>
                            <%if (status == "Login") { %>

                                <a href="/profile"><%= user.profile.displayName %>'s Profile</a>
                                <% } else {%>
                                <a href="/signup"> Sign Up</a>
                                <% }%>
                        </li>
                        <li>
                            <%if (status == "Login") { %>
                                <a href="/logout">Logout</a>
                                <% } else {%>
                                <a href="/login">Login</a>
                                <% }%>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="hidden-lg cover-image" style="background-image : url('//unsplash.imgix.net/photo-1422405153578-4bd676b19036?w=1024&amp;q=50&amp;fm=jpg&amp;s=5ecc4c704ea97d85ea550f84a1499228')"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                  <style>h1{color:white}</style>
                    <h1 contenteditable="true" class="text-center">
                      <span style="color:white">BeLayzee</span>
                    </h1>
                    <p>Life is short
                        <br>Focus on the most important things.</p>
                    <br>

                    <a href="\request" class="btn btn-lg btn-primary">Start Request</a>&nbsp;&nbsp;
                    <!--<a href="\volunteer" class="btn btn-lg btn-primary">Do a volunteer</a>-->
                    <br><br>
                    <a href="\requests" class="btn btn-lg btn-primary">Existing Requests</a>&nbsp;&nbsp;
                    <!--<a href="\volunteers" class="btn btn-lg btn-primary">See existing volunteers</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="/img/hugg.jpg" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <br>
                    <h1>There's just too little time</h1>
                    <h3>There's always something you don't want to miss</h3>
                    <h4>Wondering what to Have for dinner?<br>Don't want to go to the market just to get a garlic?<br>This is where BeLayzee comes into your life.
                    <br><br> <h4>Start your request Now! </h4></h4> <br> <a href="\request" class="btn btn-lg btn-primary">Start Request</a>&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="/img/family.jpg" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <br>
                    <h1>It's just a Little Effort</h1>
                    <h3>An effortless action earns you some credit</h3>
                    <h4>Pickup a meal on your way home? Just pack an extra one for your neighbor!
                      <br>Heading home from the market? Grab a extra garlic!
                      <br>Bringing the community back starts from BeLayzee.
                    <br><br> <h4>View other people's request! </h4></h4> <br> <a href="\requests" class="btn btn-lg btn-primary">Existing Requests</a>&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>
    <footer class="section section-primary">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>CSCI 3100 Project</h1>
                    <a href="/aboutus" style="color:white">About Us</a>
                </div>
                <div class="col-sm-6">
                    <p class="text-info text-right">
                        <br>
                        <br>
                    </p>
                    <div class="row">
                        <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                            <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 hidden-xs text-right">
                            <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="//code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



</body>

</html>
